<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <title>Cocktail of the day</title>
</head>
<body>
    <p class="subTitle">API Playground Capstone App</p>
    <div class="header">
        
        <svg>
            <text x="50%" y="15%" dy=".35em" text-anchor="middle">
                Cocktail of the Day
            </text>
        </svg>
        <!-- <h1>Cocktail of the Day</h1> -->
        
    </div>
    

    <form action="/" method="POST">
        <input type="submit" value="Get Your Drink">
    </form>

    <div class="wrapper">
        <div>
            <% composition.map(i => { %>
                <p class="comp">
                    <span><%= i.ing %></span>
                    <span><%= i.mes %></span>
                </p>
            <% }) %>
        </div>
    
        <div>
            <img class="pic" src=<%= pic %> alt="Drink of the day">
            
        </div>
    
        
    </div>
    <h2><%= drink %></h2>
    <div>
        <p class="instr"><%= instr %></p>
    </div>
    

    <div class="decor"></div>
    <div class="decor2"></div>
    
</body>
</html>